.f-block.f-container#buttons
  h4 buttons
  h5 big buttons
  .f-container--flex-row-around
    a.btn--lg.btn--default button default
    a.btn--lg.btn--success button success
    a.btn--lg.btn--error button error
    a.btn--lg.btn--warning button warning
    a.btn--lg.btn--info button info
  h5 middle buttons
  .f-container--flex-row-around
    a.btn--md.btn--default button default
    a.btn--md.btn--success button success
    a.btn--md.btn--error button error
    a.btn--md.btn--warning button warning
    a.btn--md.btn--info button info
  h5 small buttons
  .f-container--flex-row-around
    a.btn--sm.btn--default button default
    a.btn--sm.btn--success button success
    a.btn--sm.btn--error button error
    a.btn--sm.btn--warning button warning
    a.btn--sm.btn--info button info
