.f-block.f-container#buttons
  h4 buttons
  h5 big buttons
  .f-container--flex-row-around
    a.f-btn--big.f-btn--default button default
    a.f-btn--big.f-btn--success button success
    a.f-btn--big.f-btn--error button error
    a.f-btn--big.f-btn--warning button warning
    a.f-btn--big.f-btn--info button info
  h5 middle buttons
  .f-container--flex-row-around
    a.f-btn--mid.f-btn--default button default
    a.f-btn--mid.f-btn--success button success
    a.f-btn--mid.f-btn--error button error
    a.f-btn--mid.f-btn--warning button warning
    a.f-btn--mid.f-btn--info button info
  h5 small buttons
  .f-container--flex-row-around
    a.f-btn--sm.f-btn--default button default
    a.f-btn--sm.f-btn--success button success
    a.f-btn--sm.f-btn--error button error
    a.f-btn--sm.f-btn--warning button warning
    a.f-btn--sm.f-btn--info button info
