.f-container
  h4 buttons
  .f-container--flex-row-around
    button.f-btn--default button default
    a.f-btn--success button success
    button.f-btn--error button error
    a.f-btn--warning button warning
    button.f-btn--info button info
