footer.footer#contacts
    .footer__container.clearfix
        .footer_title contact us
        .footer_subtitle Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu, diam erant convenire et vis. Et essent evertitur sea, vis cu ubique referrentur, sed eu dicant expetendis.
        .footer__form
            .footer__input-wrap.footer__input-wrap--half
                input.footer__form_input(placeholder='Your name here')
            .footer__input-wrap.footer__input-wrap--half
                input.footer__form_input(placeholder='Your email here')
            .footer__input-wrap
                input.footer__form_input(placeholder='Your message here')
        a.footer__form_submit send message
        span.footer__copyright &copy; 2014 -
            a.footer__copyright_link Kat
            | All Right Reserved
script(src='../node_modules/angular/angular.min.js')
script(src='https://code.jquery.com/jquery-1.12.4.min.js', integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=', crossorigin='anonymous')
script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
script(src='../node_modules/slick-carousel/slick/slick.js')
script(src='scripts/hamburgler/hamburgler.js')
script(src='../node_modules/ng-dialog/js/ngDialog.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/waypoints/1.1.6/waypoints.min.js')
script(src='scripts/counterup/jquery.counterup.js')
script(src='scripts.js')

