.f-block.f-container#forms
  h4 forms
  h5 feedback form with small inputs
  .flex--center.f-mb_30
    .wrap40
      form.form
        label.f-label--hidden(for='name') Name:
        input#name.input--sm.input--success(type='text', placeholder='Name')
        label.f-label--hidden(for='email') Email:
        input#email.input--sm.input--info(type='email', placeholder='email@website.com')
        label.f-label--hidden(for='msg') Message:
        textarea#msg.f-textarea(placeholder='Message...', rows='7')
        .flex--center
          input.btn--sm.btn--default(type='submit', value='Submit')
          input.btn--sm.btn--warning.f-ml_10(type='reset', value='Reset')
  h5 login form with medium inputs
  .flex--center.f-mb_30
    .wrap40
      form.form
        .flex--center.f-mb_20
          img.f-avatar(src='https://api.adorable.io/avatars/285/dffdbott@adorable.io.png', alt='Avatar')
        label.f-label--hidden(for='username') Username:
        input#username.input(type='text', placeholder='Enter your username')
        label.f-label--hidden(for='password') Password:
        input#password.input--default(type='password', placeholder='Enter your password')
        .flex--center
          input.btn--md.btn--info(type='submit', value='Login')
  h5 registration form with large input
  .flex--center.f-mb_30
    .wrap40
      form.form
        label.f-label--hidden(for='usermail') Email:
        input#usermail.input--lg.input--error(type='text', placeholder='Enter your email')
        .flex--center
          input.btn--lg.btn--default(type='submit', value='Registration')
