.f-block.f-container#grids
  h4 grid system
  .f-container--70
    p.text_block.f-iblock Select type of justify blocks:
    select#grid-select
      option(value='flex-start', selected) flex-start
      option(value='flex-end') flex-end
      option(value='center') center
      option(value='space-between') space-between
      option(value='space-around') space-around
    h1.title_primary#grid-title flex-start
  .f-container--70.f-mt_20
    .flex-container.flex-container--flex-start
      .grid-example.grid-example--100 container-100
    .flex-container.flex-container--flex-start
      .grid-example.grid-example--90 container-90
    .flex-container.flex-container--flex-start
      .grid-example.grid-example--80 container-80
    .flex-container.flex-container--flex-start
      .grid-example.grid-example--70 container-70
    .flex-container.flex-container--flex-start
      .grid-example.grid-example--60 container-60
    .flex-container.flex-container--flex-start
      .grid-example.grid-example--50 container-50
    .flex-container.flex-container--flex-start
      .grid-example.grid-example--40 container-40
      .grid-example.grid-example--40 container-40
    .flex-container.flex-container--flex-start
      .grid-example.grid-example--30 container-30
      .grid-example.grid-example--30 container-30
      .grid-example.grid-example--30 container-30
    .flex-container.flex-container--flex-start
      .grid-example.grid-example--20 container-20
      .grid-example.grid-example--20 container-20
      .grid-example.grid-example--20 container-20
      .grid-example.grid-example--20 container-20
