.f-block.f-container
  h4 grid system
  h5 flex-start content justify
  .f-container--70
    .flex-container--flex-start
      .grid-example.grid-example--100 container-100
    .flex-container--flex-start
      .grid-example.grid-example--90 container-90
    .flex-container--flex-start
      .grid-example.grid-example--80 container-80
    .flex-container--flex-start
      .grid-example.grid-example--70 container-70
    .flex-container--flex-start
      .grid-example.grid-example--60 container-60
    .flex-container--flex-start
      .grid-example.grid-example--50 container-50
    .flex-container--flex-start
      .grid-example.grid-example--40 container-40
      .grid-example.grid-example--40 container-40
    .flex-container--flex-start
      .grid-example.grid-example--30 container-30
      .grid-example.grid-example--30 container-30
      .grid-example.grid-example--30 container-30
    .flex-container--flex-start
      .grid-example.grid-example--20 container-20
      .grid-example.grid-example--20 container-20
      .grid-example.grid-example--20 container-20
      .grid-example.grid-example--20 container-20
h5 space-around content justify
.f-container--70
  .flex-container--space-around
    .grid-example.grid-example--100 container-100
  .flex-container--space-around
    .grid-example.grid-example--90 container-90
  .flex-container--space-around
    .grid-example.grid-example--80 container-80
  .flex-container--space-around
    .grid-example.grid-example--70 container-70
  .flex-container--space-around
    .grid-example.grid-example--60 container-60
  .flex-container--space-around
    .grid-example.grid-example--50 container-50
  .flex-container--space-around
    .grid-example.grid-example--40 container-40
    .grid-example.grid-example--40 container-40
  .flex-container--space-around
    .grid-example.grid-example--30 container-30
    .grid-example.grid-example--30 container-30
    .grid-example.grid-example--30 container-30
  .flex-container--space-around
    .grid-example.grid-example--20 container-20
    .grid-example.grid-example--20 container-20
    .grid-example.grid-example--20 container-20
    .grid-example.grid-example--20 container-20
h5 space-between content justify
.f-container--70
  .flex-container--space-between
    .grid-example.grid-example--100 container-100
  .flex-container--space-between
    .grid-example.grid-example--90 container-90
  .flex-container--space-between
    .grid-example.grid-example--80 container-80
  .flex-container--space-between
    .grid-example.grid-example--70 container-70
  .flex-container--space-between
    .grid-example.grid-example--60 container-60
  .flex-container--space-between
    .grid-example.grid-example--50 container-50
  .flex-container--space-between
    .grid-example.grid-example--40 container-40
    .grid-example.grid-example--40 container-40
  .flex-container--space-between
    .grid-example.grid-example--30 container-30
    .grid-example.grid-example--30 container-30
    .grid-example.grid-example--30 container-30
  .flex-container--space-between
    .grid-example.grid-example--20 container-20
    .grid-example.grid-example--20 container-20
    .grid-example.grid-example--20 container-20
    .grid-example.grid-example--20 container-20
h5 center content justify
.f-container--70
  .flex-container--center
    .grid-example.grid-example--100 container-100
  .flex-container--center
    .grid-example.grid-example--90 container-90
  .flex-container--center
    .grid-example.grid-example--80 container-80
  .flex-container--center
    .grid-example.grid-example--70 container-70
  .flex-container--center
    .grid-example.grid-example--60 container-60
  .flex-container--center
    .grid-example.grid-example--50 container-50
  .flex-container--center
    .grid-example.grid-example--40 container-40
    .grid-example.grid-example--40 container-40
  .flex-container--center
    .grid-example.grid-example--30 container-30
    .grid-example.grid-example--30 container-30
    .grid-example.grid-example--30 container-30
  .flex-container--center
    .grid-example.grid-example--20 container-20
    .grid-example.grid-example--20 container-20
    .grid-example.grid-example--20 container-20
    .grid-example.grid-example--20 container-20
h5 flex-end content justify
.f-container--70
  .flex-container--flex-end
    .grid-example.grid-example--100 container-100
  .flex-container--flex-end
    .grid-example.grid-example--90 container-90
  .flex-container--flex-end
    .grid-example.grid-example--80 container-80
  .flex-container--flex-end
    .grid-example.grid-example--70 container-70
  .flex-container--flex-end
    .grid-example.grid-example--60 container-60
  .flex-container--flex-end
    .grid-example.grid-example--50 container-50
  .flex-container--flex-end
    .grid-example.grid-example--40 container-40
    .grid-example.grid-example--40 container-40
  .flex-container--flex-end
    .grid-example.grid-example--30 container-30
    .grid-example.grid-example--30 container-30
    .grid-example.grid-example--30 container-30
  .flex-container--flex-end
    .grid-example.grid-example--20 container-20
    .grid-example.grid-example--20 container-20
    .grid-example.grid-example--20 container-20
    .grid-example.grid-example--20 container-20
