.f-block.f-container#grids
  h4 grid system
  .f-container--50
    p.text_block.f-iblock Select type of justify blocks:
    select#grid-select.f-select
      option(value='flex-start', selected) flex-start
      option(value='flex-end') flex-end
      option(value='center') center
      option(value='space-between') space-between
      option(value='space-around') space-around
  .f-container--70.f-mt_20
    .flex.flex--flex-start
      .wrap100.grid-example.grid-example--100 container-100
    .flex.flex--flex-start
      .wrap90.grid-example.grid-example--90 container-90
    .flex.flex--flex-start
      .wrap80.grid-example.grid-example--80 container-80
    .flex.flex--flex-start
      .wrap70.grid-example.grid-example--70 container-70
    .flex.flex--flex-start
      .wrap60.grid-example.grid-example--60 container-60
    .flex.flex--flex-start
      .wrap50.grid-example.grid-example--50 container-50
    .flex.flex--flex-start
      .wrap40.grid-example.grid-example--40 container-40
      .wrap40.grid-example.grid-example--40 container-40
    .flex.flex--flex-start
      .wrap30.grid-example.grid-example--30 container-30
      .wrap30.grid-example.grid-example--30 container-30
      .wrap30.grid-example.grid-example--30 container-30
    .flex.flex--flex-start
      .wrap20.grid-example.grid-example--20 container-20
      .wrap20.grid-example.grid-example--20 container-20
      .wrap20.grid-example.grid-example--20 container-20
      .wrap20.grid-example.grid-example--20 container-20
