header.header#nav
    .f-container
        a.header__logo
            img.header__logo_img(src='images/logo.png')
            span.header__logo_text cssframe
        .header__nav#nav-tabs
            a.header__nav_item.header__nav_item--active(href="#typography") typography
            a.header__nav_item(href="#buttons") buttons
            a.header__nav_item(href="#grids") grids
            a.header__nav_item(href="#forms") forms
            a.header__nav_item(href="#bars") bars
            a.header__nav_item(href="#images") images
            a.header__nav_item(href="#navi") navi
        a.icon
            .hamburger
                .menui.top-menu
                .menui.mid-menu
                .menui.bottom-menu
