header.header#nav
    .f-container
        a.header__logo
            img.header__logo_img(src='images/logo.png')
            span.header__logo_text cssframe
        .header__nav#nav-tabs
            a.header__nav_item.header__nav_item--active(href="#home") home
            a.header__nav_item(href="#services") services
            a.header__nav_item(href="#portf") portfolio
            a.header__nav_item(href="#contacts") contacts
        a.icon
            .hamburger
                .menui.top-menu
                .menui.mid-menu
                .menui.bottom-menu
