.f-block.f-container#navi
  h4 navigation elements
  h5.f-mb_20 top navigation
  .flex--center.f-nav--success
    a.f-nav_item.f-nav_item--active.header__nav_item--active(href="#0") Nav1
    a.f-nav_item(href="#1") Nav2
    a.f-nav_item(href="#2") Nav3
    a.f-nav_item(href="#3") Nav4
  h5.f-mt_20.f-mb_20 tabs
  .flex--center
    .f-tabs--success
      .f-tabs
        a.f-tab_item(href="#0") Tab1
        a.f-tab_item(href="#1") Tab2
        a.f-tab_item(href="#2") Tab3
        a.f-tab_item.f-tab_item--active(href="#3") Tab4
      .f-tab_content
