.f-block.f-container#bars
  h4 progress bars
  h5 regular bars
  .flex-container--space-around
    .f-form_wrap--50
      .f-progress_wrap
        .f-progress_base
          .f-progress_filled--info(data-percents = '80')
      .f-progress_wrap
        .f-progress_base
          .f-progress_filled--default(data-percents = '80')
      .f-progress_wrap
        .f-progress_base
          .f-progress_filled--success(data-percents = '50')
      .f-progress_wrap
        .f-progress_base
          .f-progress_filled--warning(data-percents = '50')
      .f-progress_wrap
        .f-progress_base
          .f-progress_filled--error(data-percents = '50')
  h5 range bars
  .flex-container--space-around
    .f-form_wrap--50
      .f-progress_wrap
        .f-progress-range_base
          .f-progress-range_filled--info(data-percents = '80')
      .f-progress_wrap
        .f-progress-range_base
          .f-progress-range_filled--default(data-percents = '80')
      .f-progress_wrap
        .f-progress-range_base
          .f-progress-range_filled--success(data-percents = '50')
      .f-progress_wrap
        .f-progress-range_base
          .f-progress-range_filled--warning(data-percents = '50')
      .f-progress_wrap
        .f-progress-range_base
          .f-progress-range_filled--error(data-percents = '50')


