.f-block.f-container
  h4 typography
  .f-container--70
    h1.title_primary This was because Reason was in fact out to lunch
    h2.title_secondary This was because Reason was in fact out to lunch.
    p.text_block A hole had just appeared in the Galaxy. It was exactly a nothingth of a second long, a nothingth of an inch wide, and quite a lot of million light years from end to end.
    p.text_block As it closed up lots of paper hats and party balloons fell out of it and drifted off through the universe. A team of seven three-foot-high market analysts fell out of it and died, partly of asphyxication, partly of surprise.
    blockquote.text_blockquote “It’s a bit squalid, isn’t it?”
