.wrap
  display: block

w-container = 10, 20, 30, 40, 50, 60, 70, 80, 90, 100
for w in w-container
  .wrap{w}
    @extend .wrap
    width: (w * 1%)

.form
  padding: 40px 30px
  background-color: color_light-bg
  border-radius 2px
  border: 1px solid color_input--infocus

.f-label
  display: block
  &--hidden
    display: none


.input
  display: block
  width: 100%
  box-sizing: border-box
  margin-bottom: 20px
  height: 40px
  font-size: 15px
  padding: 5px 10px
  border-radius: 2px
  border: none
  border-bottom: 1px dashed color_gray-light
  transition: .3s
  &:focus
    background-color: color_input--infocus

sizes = 'lg', 'md', 'sm'
for size in sizes
  .input--{size}
    @extend .input
    height: input_height_ + size

types =  'default', 'warning', 'success', 'error', 'info'
for type in types
  .input--{type}
    @extend .input
    background-color: lighten(btn-color_ + type, 80%)
    border-bottom: 1px dashed lighten(btn-color_ + type, 60%)
    &:focus
      background-color: lighten(btn-color_ + type, 75%)
      border-bottom: 1px dashed lighten(btn-color_ + type, 40%)

.f-textarea
  @extend .input
  height: auto
  line-height: 1.3em
  resize none

.f-select
  @extend .input

.f-avatar
  border-radius 48%
  width: 100px
  height: 100px
