.f-block
  margin-top: 40px
  margin-bottom: 140px

.f-iblock
  display: inline-block

.f-container
  width 100%
  margin-left auto
  margin-right auto
  max-width width-content_lg
  &--flex-row-around
    display flex
    flex-flow row nowrap
    justify-content: space-around


types = flex-start, flex-end, center, space-between, space-around
for t in types
  .flex--{t}
    display flex
    flex-flow row nowrap
    justify-content: t

.grid-example
  height 50px
  background-color #334455
  margin 0 15px 15px 15px
  line-height 50px
  text-align center
  color: color_white

w-container = 10, 20, 30, 40, 50, 60, 70, 80, 90, 100
for w in w-container
  .f-container--{w}
    @extend .f-container
    width: (w * 1%)

w-container-relations = 'flex-start' 'default', 'flex-end' 'warning', 'center' 'success', 'space-between' 'error', 'space-around' 'info'
for rel in w-container-relations
  .flex--{rel[0]}
    w-container = 10, 20, 30, 40, 50, 60, 70, 80, 90, 100
    for w in w-container
      .grid-example--{w}
        background-color: lighten(btn-color_ + rel[1], (w * .5) + '%')

sizes = 'lg', 'md', 'sm'
for size in sizes
  @media all and (max-width: width_ + size)
    .f-container
      max-width: width-content_ + size

manage-sizes = 5, 10, 15, 20, 25, 30, 35, 40
for m-size in manage-sizes
  .f-ml_{m-size}
    margin-left: m-size * 1px
  .f-mr_{m-size}
    margin-right: m-size * 1px
  .f-mt_{m-size}
    margin-top: m-size * 1px
  .f-mb_{m-size}
    margin-bottom: m-size * 1px

