.f-block {
  margin-top: 40px;
  margin-bottom: 140px;
}
.f-iblock {
  display: inline-block;
}
.f-container,
.f-container--10,
.f-container--20,
.f-container--30,
.f-container--40,
.f-container--50,
.f-container--60,
.f-container--70,
.f-container--80,
.f-container--90,
.f-container--100 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
}
.f-container--flex-row-around,
.f-container--10--flex-row-around,
.f-container--20--flex-row-around,
.f-container--30--flex-row-around,
.f-container--40--flex-row-around,
.f-container--50--flex-row-around,
.f-container--60--flex-row-around,
.f-container--70--flex-row-around,
.f-container--80--flex-row-around,
.f-container--90--flex-row-around,
.f-container--100--flex-row-around {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.flex--flex-start {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.flex--flex-end {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.flex--center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.flex--space-between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.flex--space-around {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.grid-example {
  height: 50px;
  background-color: #345;
  margin: 0 15px 15px 15px;
  line-height: 50px;
  text-align: center;
  color: #fff;
}
.f-container--10 {
  width: 10%;
}
.f-container--20 {
  width: 20%;
}
.f-container--30 {
  width: 30%;
}
.f-container--40 {
  width: 40%;
}
.f-container--50 {
  width: 50%;
}
.f-container--60 {
  width: 60%;
}
.f-container--70 {
  width: 70%;
}
.f-container--80 {
  width: 80%;
}
.f-container--90 {
  width: 90%;
}
.f-container--100 {
  width: 100%;
}
.flex--flex-start .grid-example--10 {
  background-color: #74a2c8;
}
.flex--flex-start .grid-example--20 {
  background-color: #7ca7cb;
}
.flex--flex-start .grid-example--30 {
  background-color: #83acce;
}
.flex--flex-start .grid-example--40 {
  background-color: #8ab1d1;
}
.flex--flex-start .grid-example--50 {
  background-color: #92b5d3;
}
.flex--flex-start .grid-example--60 {
  background-color: #99bad6;
}
.flex--flex-start .grid-example--70 {
  background-color: #a0bfd9;
}
.flex--flex-start .grid-example--80 {
  background-color: #a7c4dc;
}
.flex--flex-start .grid-example--90 {
  background-color: #afc9df;
}
.flex--flex-start .grid-example--100 {
  background-color: #b6cee2;
}
.flex--flex-end .grid-example--10 {
  background-color: #f6c068;
}
.flex--flex-end .grid-example--20 {
  background-color: #f7c470;
}
.flex--flex-end .grid-example--30 {
  background-color: #f7c778;
}
.flex--flex-end .grid-example--40 {
  background-color: #f8ca80;
}
.flex--flex-end .grid-example--50 {
  background-color: #f8ce88;
}
.flex--flex-end .grid-example--60 {
  background-color: #f9d190;
}
.flex--flex-end .grid-example--70 {
  background-color: #f9d498;
}
.flex--flex-end .grid-example--80 {
  background-color: #fad7a0;
}
.flex--flex-end .grid-example--90 {
  background-color: #fadba8;
}
.flex--flex-end .grid-example--100 {
  background-color: #fbdeb0;
}
.flex--center .grid-example--10 {
  background-color: #9cd891;
}
.flex--center .grid-example--20 {
  background-color: #a1da97;
}
.flex--center .grid-example--30 {
  background-color: #a7dc9c;
}
.flex--center .grid-example--40 {
  background-color: #acdea2;
}
.flex--center .grid-example--50 {
  background-color: #b1e0a8;
}
.flex--center .grid-example--60 {
  background-color: #b6e2ae;
}
.flex--center .grid-example--70 {
  background-color: #bbe4b4;
}
.flex--center .grid-example--80 {
  background-color: #c1e6b9;
}
.flex--center .grid-example--90 {
  background-color: #c6e8bf;
}
.flex--center .grid-example--100 {
  background-color: #cbebc5;
}
.flex--space-between .grid-example--10 {
  background-color: #bb7c7c;
}
.flex--space-between .grid-example--20 {
  background-color: #be8383;
}
.flex--space-between .grid-example--30 {
  background-color: #c28a8a;
}
.flex--space-between .grid-example--40 {
  background-color: #c59191;
}
.flex--space-between .grid-example--50 {
  background-color: #c99898;
}
.flex--space-between .grid-example--60 {
  background-color: #cd9e9e;
}
.flex--space-between .grid-example--70 {
  background-color: #d0a5a5;
}
.flex--space-between .grid-example--80 {
  background-color: #d4acac;
}
.flex--space-between .grid-example--90 {
  background-color: #d7b3b3;
}
.flex--space-between .grid-example--100 {
  background-color: #dbbaba;
}
.flex--space-around .grid-example--10 {
  background-color: #a9a3c2;
}
.flex--space-around .grid-example--20 {
  background-color: #ada8c5;
}
.flex--space-around .grid-example--30 {
  background-color: #b2adc9;
}
.flex--space-around .grid-example--40 {
  background-color: #b6b1cc;
}
.flex--space-around .grid-example--50 {
  background-color: #bbb6cf;
}
.flex--space-around .grid-example--60 {
  background-color: #bfbbd2;
}
.flex--space-around .grid-example--70 {
  background-color: #c4c0d5;
}
.flex--space-around .grid-example--80 {
  background-color: #c8c5d9;
}
.flex--space-around .grid-example--90 {
  background-color: #cdcadc;
}
.flex--space-around .grid-example--100 {
  background-color: #d2cfdf;
}
@media all and (max-width: 1200px) {
  .f-container {
    max-width: 1170px;
  }
}
@media all and (max-width: 992px) {
  .f-container {
    max-width: 970px;
  }
}
@media all and (max-width: 768px) {
  .f-container {
    max-width: 750px;
  }
}
.f-ml_5 {
  margin-left: 5px;
}
.f-mr_5 {
  margin-right: 5px;
}
.f-mt_5 {
  margin-top: 5px;
}
.f-mb_5 {
  margin-bottom: 5px;
}
.f-ml_10 {
  margin-left: 10px;
}
.f-mr_10 {
  margin-right: 10px;
}
.f-mt_10 {
  margin-top: 10px;
}
.f-mb_10 {
  margin-bottom: 10px;
}
.f-ml_15 {
  margin-left: 15px;
}
.f-mr_15 {
  margin-right: 15px;
}
.f-mt_15 {
  margin-top: 15px;
}
.f-mb_15 {
  margin-bottom: 15px;
}
.f-ml_20 {
  margin-left: 20px;
}
.f-mr_20 {
  margin-right: 20px;
}
.f-mt_20 {
  margin-top: 20px;
}
.f-mb_20 {
  margin-bottom: 20px;
}
.f-ml_25 {
  margin-left: 25px;
}
.f-mr_25 {
  margin-right: 25px;
}
.f-mt_25 {
  margin-top: 25px;
}
.f-mb_25 {
  margin-bottom: 25px;
}
.f-ml_30 {
  margin-left: 30px;
}
.f-mr_30 {
  margin-right: 30px;
}
.f-mt_30 {
  margin-top: 30px;
}
.f-mb_30 {
  margin-bottom: 30px;
}
.f-ml_35 {
  margin-left: 35px;
}
.f-mr_35 {
  margin-right: 35px;
}
.f-mt_35 {
  margin-top: 35px;
}
.f-mb_35 {
  margin-bottom: 35px;
}
.f-ml_40 {
  margin-left: 40px;
}
.f-mr_40 {
  margin-right: 40px;
}
.f-mt_40 {
  margin-top: 40px;
}
.f-mb_40 {
  margin-bottom: 40px;
}
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
html,
body {
  font-family: "Raleway";
  font-size: 15px;
  scroll-behavior: smooth;
  min-width: 320px;
}
content {
  flex: 1 0 auto;
}
h4 {
  opacity: 0.3;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 6px;
  margin: 20px 0;
}
h5 {
  opacity: 0.4;
  font-size: 17px;
  letter-spacing: 3px;
  text-align: center;
  font-weight: bold;
  margin: 40px 0 30px;
}
button,
a,
input,
textarea,
select {
  font-family: "Raleway";
}
button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.content {
  padding-top: 100px;
}
.header {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100px;
  background: #fff;
  transition: 0.3s;
}
.header__logo {
  display: inline-block;
  line-height: 100px;
  transition: 0.3s;
  cursor: pointer;
}
.header__logo:active {
  opacity: 0.8;
}
.header__logo_img {
  vertical-align: middle;
  width: 41px;
  height: 33px;
  margin-right: 25px;
  letter-spacing: 10px;
}
.header__logo_text {
  vertical-align: middle;
  color: #3f4244;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.227;
  letter-spacing: 10px;
}
.header__nav {
  display: inline-block;
  float: right;
  line-height: 100px;
  transition: 0.3s;
}
.header__nav_item {
  display: inline-block;
  vertical-align: top;
  border-bottom: 2px solid transparent;
  padding: 0 10px;
  margin: 0 10px;
  color: #3f4244;
  text-transform: uppercase;
  line-height: 98px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}
.header__nav_item:hover {
  color: #00e1ff;
}
.header__nav_item:first-child {
  margin-left: 0;
}
.header__nav_item:last-child {
  margin-right: 0;
}
.header__nav_item--active {
  color: #00e1ff;
  border-bottom: 2px solid #00e1ff;
}
.header__nav_item--active:hover {
  opacity: 0.8;
}
.fixed {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 50px;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  top: 0;
}
.fixed .header__logo {
  line-height: 50px;
}
.fixed .header__nav {
  height: 50px;
}
.fixed .header__nav_item {
  line-height: 48px;
}
.top-animate {
  background: #131316 !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mid-animate {
  opacity: 0;
}
.bottom-animate {
  background: #131316 !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}
.top-menu {
  top: 5px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
}
.mid-menu {
  top: 13px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
}
.bottom-menu {
  top: 21px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
}
.menui {
  background: #131316;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  margin-top: 10px;
  position: absolute;
}
.icon {
  z-index: 999;
  position: fixed;
  padding: 9px;
  height: 32px;
  width: 32px;
  margin: 5px 0 0;
  top: 0;
  right: 0;
  display: none;
  cursor: pointer;
  transition: 0.3s;
}
.mobilenav {
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  background: rgba(255,255,255,0.9);
  font-size: 0;
}
.mobilenav a {
  text-align: center;
  color: #131316;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  display: block;
  background: rgba(255,255,255,0.9);
  padding: 0;
  margin: 0;
  line-height: 58px !important;
  border: none !important;
}
.mobilenav a:first-child {
  margin-top: 50px;
}
.mobilenav+.icon {
  display: block;
}
.mobilenav .header__nav_item--active {
  border-bottom: none;
}
.fixed .icon {
  margin-top: 0;
}
@media all and (max-width: 992px) {
  .header {
    height: 60px;
  }
  .header__logo {
    line-height: 60px;
  }
  .header__nav {
    height: 60px;
  }
  .header__nav_item {
    line-height: 58px;
  }
  .fixed.header {
    height: 50px;
  }
}
@media all and (max-width: 770px) {
  .header__logo {
    margin-left: 15px;
  }
}
.footer {
  padding: 70px 0 40px;
  background: #131316;
}
.footer__container {
  width: 50%;
  margin: 0 auto;
}
.footer_title {
  position: relative;
  margin-bottom: 60px;
  color: #fff;
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
}
.footer_title:after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: calc(50% - 85px);
  width: 170px;
  height: 2px;
  background-color: #00e1ff;
}
.footer_subtitle {
  color: #fff;
  font-size: 13px;
  text-align: center;
  line-height: 1.4;
}
.footer__form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.footer__form_input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid #fff;
  padding-left: 20px;
  background: transparent;
  font-size: 15px;
  color: #fff;
}
.footer__form_input::-webkit-input-placeholder {
  color: #fff;
}
.footer__form_input:-moz-placeholder {
  color: #fff;
}
.footer__form_input::-moz-placeholder {
  color: #fff;
}
.footer__form_input:-ms-input-placeholder {
  color: #fff;
}
.footer__form_input:focus {
  outline: none;
}
.footer__form_submit {
  float: right;
  padding: 15px 35px;
  margin-top: 30px;
  border: 1px solid #00e1ff;
  color: #fff;
  text-transform: capitalize;
  font-weight: 100;
  cursor: pointer;
  transition: 0.3s;
}
.footer__form_submit:hover {
  background-color: #00e1ff;
  color: #131316;
}
.footer__form_submit:active {
  opacity: 0.8;
}
.footer__input-wrap {
  width: 100%;
  margin-top: 60px;
  position: relative;
}
.footer__input-wrap:before,
.footer__input-wrap:after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 2px;
  height: 10px;
  background-color: #fff;
}
.footer__input-wrap:after {
  right: 0;
}
.footer__input-wrap--half {
  width: 48%;
}
.footer__copyright {
  display: block;
  margin-top: 145px;
  color: #fff;
  text-align: center;
}
.footer__copyright_link {
  margin: 0 5px;
  color: #00e1ff;
  cursor: pointer;
}
@media all and (max-width: 768px) {
  .footer__input-wrap--half {
    width: 100%;
  }
  .footer__form_submit {
    float: none;
    display: block;
    text-align: center;
    margin-top: 65px;
  }
}
.title_primary {
  font-size: 3em;
  margin-bottom: 0.3em;
  line-height: 1.2em;
}
.title_secondary {
  font-size: 1.4em;
  opacity: 0.4;
  font-weight: 500;
  text-transform: lowercase;
  letter-spacing: 2px;
  margin-bottom: 2.3em;
}
.text_block {
  font-size: 1em;
  line-height: 1.4em;
  opacity: 0.8;
  letter-spacing: 1.2px;
  margin-top: 1em;
  margin-bottom: 1em;
}
.text_blockquote {
  padding: 10px 0 10px 20px;
  font-style: italic;
  opacity: 0.6;
  display: block;
  border-left: 2px solid #bbb;
  margin: 10px 0;
  font-size: 16px;
}
.btn,
.btn--default,
.btn--warning,
.btn--success,
.btn--error,
.btn--info {
  padding: 14px 25px;
  display: inline-block;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 20px;
  box-shadow: 2px 2px 4px #fff;
  border: 1px solid transparent;
  opacity: 1;
  transform: translateY(0);
}
.btn--lg,
.btn--default--lg,
.btn--warning--lg,
.btn--success--lg,
.btn--error--lg,
.btn--info--lg {
  padding: 11px 25px;
  font-size: 15px;
}
.btn--md,
.btn--default--md,
.btn--warning--md,
.btn--success--md,
.btn--error--md,
.btn--info--md {
  padding: 8px 20px;
  font-size: 14px;
}
.btn--sm,
.btn--default--sm,
.btn--warning--sm,
.btn--success--sm,
.btn--error--sm,
.btn--info--sm {
  padding: 5px 15px;
  text-transform: lowercase;
  font-size: 14px;
}
.btn--default {
  background-color: #6d9dc5;
  border: 1px solid #578ebc;
}
.btn--default:hover {
  background-color: #578ebc;
  box-shadow: 2px 2px 4px #dedede;
  border: 1px solid #4177a4;
}
.btn--default:focus,
.btn--default:active {
  opacity: 0.9;
  transform: translateY(-5px);
}
.btn--warning {
  background-color: #f6bd60;
  border: 1px solid #f4b040;
}
.btn--warning:hover {
  background-color: #f4b040;
  box-shadow: 2px 2px 4px #dedede;
  border: 1px solid #f19b0f;
}
.btn--warning:focus,
.btn--warning:active {
  opacity: 0.9;
  transform: translateY(-5px);
}
.btn--success {
  background-color: #97d68b;
  border: 1px solid #80cd71;
}
.btn--success:hover {
  background-color: #80cd71;
  box-shadow: 2px 2px 4px #dedede;
  border: 1px solid #5dbf4a;
}
.btn--success:focus,
.btn--success:active {
  opacity: 0.9;
  transform: translateY(-5px);
}
.btn--error {
  background-color: #b77575;
  border: 1px solid #ad6161;
}
.btn--error:hover {
  background-color: #ad6161;
  box-shadow: 2px 2px 4px #dedede;
  border: 1px solid #944d4d;
}
.btn--error:focus,
.btn--error:active {
  opacity: 0.9;
  transform: translateY(-5px);
}
.btn--info {
  background-color: #a49ebf;
  border: 1px solid #9089b1;
}
.btn--info:hover {
  background-color: #9089b1;
  box-shadow: 2px 2px 4px #dedede;
  border: 1px solid #73699c;
}
.btn--info:focus,
.btn--info:active {
  opacity: 0.9;
  transform: translateY(-5px);
}
.wrap,
.wrap10,
.wrap20,
.wrap30,
.wrap40,
.wrap50,
.wrap60,
.wrap70,
.wrap80,
.wrap90,
.wrap100 {
  display: block;
}
.wrap10 {
  width: 10%;
}
.wrap20 {
  width: 20%;
}
.wrap30 {
  width: 30%;
}
.wrap40 {
  width: 40%;
}
.wrap50 {
  width: 50%;
}
.wrap60 {
  width: 60%;
}
.wrap70 {
  width: 70%;
}
.wrap80 {
  width: 80%;
}
.wrap90 {
  width: 90%;
}
.wrap100 {
  width: 100%;
}
.form {
  padding: 40px 30px;
  background-color: #f9f9f9;
  border-radius: 2px;
  border: 1px solid #ececec;
}
.f-label {
  display: block;
}
.f-label--hidden {
  display: none;
}
.input,
.input--lg,
.input--md,
.input--sm,
.input--default,
.input--warning,
.input--success,
.input--error,
.input--info,
.f-textarea,
.f-select {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  height: 40px;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 2px;
  border: none;
  border-bottom: 1px dashed #c8cdce;
  transition: 0.3s;
}
.input:focus,
.input--lg:focus,
.input--md:focus,
.input--sm:focus,
.input--default:focus,
.input--warning:focus,
.input--success:focus,
.input--error:focus,
.input--info:focus,
.f-textarea:focus,
.f-select:focus {
  background-color: #ececec;
}
.input--lg {
  height: 45px;
}
.input--md {
  height: 40px;
}
.input--sm {
  height: 30px;
}
.input--default {
  background-color: #e9f0f6;
  border-bottom: 1px dashed #c5d8e8;
}
.input--default:focus {
  background-color: #e2ebf3;
  border-bottom: 1px dashed #a7c4dc;
}
.input--warning {
  background-color: #fef5e7;
  border-bottom: 1px dashed #fbe5bf;
}
.input--warning:focus {
  background-color: #fdf2df;
  border-bottom: 1px dashed #fad7a0;
}
.input--success {
  background-color: #eff9ee;
  border-bottom: 1px dashed #d5efd1;
}
.input--success:focus {
  background-color: #eaf7e8;
  border-bottom: 1px dashed #c1e6b9;
}
.input--error {
  background-color: #f4eaea;
  border-bottom: 1px dashed #e2c8c8;
}
.input--error:focus {
  background-color: #f1e3e3;
  border-bottom: 1px dashed #d4acac;
}
.input--info {
  background-color: #f1f0f5;
  border-bottom: 1px dashed #dbd8e5;
}
.input--info:focus {
  background-color: #edecf2;
  border-bottom: 1px dashed #c8c5d9;
}
.f-textarea {
  height: auto;
  line-height: 1.3em;
  resize: none;
}
.f-avatar {
  border-radius: 48%;
  width: 100px;
  height: 100px;
}
.f-progress_wrap {
  width: 100%;
}
.f-progress_base {
  width: 100%;
  height: 20px;
  background-color: #f9f9f9;
  position: relative;
  margin: 25px 0;
}
.f-progress_filled,
.f-progress_filled--default,
.f-progress_filled--warning,
.f-progress_filled--success,
.f-progress_filled--error,
.f-progress_filled--info {
  position: absolute;
  height: 20px;
  left: 0;
  top: 0;
  width: 50%;
}
.f-progress-range_base {
  width: 100%;
  height: 4px;
  background-color: #f9f9f9;
  position: relative;
  margin: 25px 0;
}
.f-progress-range_filled,
.f-progress-range_filled--default,
.f-progress-range_filled--warning,
.f-progress-range_filled--success,
.f-progress-range_filled--error,
.f-progress-range_filled--info {
  position: absolute;
  height: 20px;
  left: 0;
  top: 0;
  width: 100%;
}
.f-progress-range_filled:before,
.f-progress-range_filled--default:before,
.f-progress-range_filled--warning:before,
.f-progress-range_filled--success:before,
.f-progress-range_filled--error:before,
.f-progress-range_filled--info:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 4px;
}
.f-progress-range_filled:after,
.f-progress-range_filled--default:after,
.f-progress-range_filled--warning:after,
.f-progress-range_filled--success:after,
.f-progress-range_filled--error:after,
.f-progress-range_filled--info:after {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 49%;
  display: block;
  position: absolute;
  left: calc(50% - 8px);
  bottom: 10px;
  cursor: pointer;
}
.f-progress_filled--default {
  background-color: #6d9dc5;
}
.f-progress-range_filled--default:before,
.f-progress-range_filled--default:after {
  background-color: #6d9dc5;
}
.f-progress_filled--warning {
  background-color: #f6bd60;
}
.f-progress-range_filled--warning:before,
.f-progress-range_filled--warning:after {
  background-color: #f6bd60;
}
.f-progress_filled--success {
  background-color: #97d68b;
}
.f-progress-range_filled--success:before,
.f-progress-range_filled--success:after {
  background-color: #97d68b;
}
.f-progress_filled--error {
  background-color: #b77575;
}
.f-progress-range_filled--error:before,
.f-progress-range_filled--error:after {
  background-color: #b77575;
}
.f-progress_filled--info {
  background-color: #a49ebf;
}
.f-progress-range_filled--info:before,
.f-progress-range_filled--info:after {
  background-color: #a49ebf;
}
.f-nav_item {
  display: inline-block;
  vertical-align: top;
  border-bottom: 2px solid transparent;
  padding: 0 10px;
  margin: 0 10px;
  color: #3f4244;
  text-transform: uppercase;
  line-height: 49px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}
.f-nav_item:hover {
  color: #00e1ff;
}
.f-nav_item:first-child {
  margin-left: 0;
}
.f-nav_item:last-child {
  margin-right: 0;
}
.f-nav_item--active {
  border-bottom: 2px solid transparent;
}
.f-nav_item--active:hover {
  opacity: 0.8;
}
.f-tab {
  font-size: 0;
}
.f-tab_item {
  display: inline-block;
  height: 35px;
  border: 1px solid transparent;
  line-height: 34px;
  padding: 0 20px;
  font-size: 12px;
  text-decoration: none;
  margin: 0 0 -1px;
  text-transform: lowercase;
  color: #3f4244;
  transition: 0.3s;
}
.f-tab_item--active {
  border-top: 2px solid transparent;
  border-right: 1px solid #c8cdce;
  border-left: 1px solid #c8cdce;
  border-bottom: 1px solid #fff;
}
.f-tab_content {
  border-top: 1px solid #c8cdce;
  width: 100%;
  height: 20px;
}
.f-nav--default .f-nav_item:hover {
  color: #6d9dc5;
}
.f-nav--default .f-nav_item--active {
  border-bottom-color: #6d9dc5;
  color: #6d9dc5;
}
.f-nav--default .f-nav_item--active:hover {
  color: #3f4244;
}
.f-tabs--default .f-tab_item:hover {
  color: #6d9dc5;
}
.f-tabs--default .f-tab_item--active {
  border-top-color: #6d9dc5;
  color: #6d9dc5;
}
.f-tabs--default .f-tab_item--active:hover {
  color: #3f4244;
}
.f-nav--warning .f-nav_item:hover {
  color: #f6bd60;
}
.f-nav--warning .f-nav_item--active {
  border-bottom-color: #f6bd60;
  color: #f6bd60;
}
.f-nav--warning .f-nav_item--active:hover {
  color: #3f4244;
}
.f-tabs--warning .f-tab_item:hover {
  color: #f6bd60;
}
.f-tabs--warning .f-tab_item--active {
  border-top-color: #f6bd60;
  color: #f6bd60;
}
.f-tabs--warning .f-tab_item--active:hover {
  color: #3f4244;
}
.f-nav--success .f-nav_item:hover {
  color: #97d68b;
}
.f-nav--success .f-nav_item--active {
  border-bottom-color: #97d68b;
  color: #97d68b;
}
.f-nav--success .f-nav_item--active:hover {
  color: #3f4244;
}
.f-tabs--success .f-tab_item:hover {
  color: #97d68b;
}
.f-tabs--success .f-tab_item--active {
  border-top-color: #97d68b;
  color: #97d68b;
}
.f-tabs--success .f-tab_item--active:hover {
  color: #3f4244;
}
.f-nav--error .f-nav_item:hover {
  color: #b77575;
}
.f-nav--error .f-nav_item--active {
  border-bottom-color: #b77575;
  color: #b77575;
}
.f-nav--error .f-nav_item--active:hover {
  color: #3f4244;
}
.f-tabs--error .f-tab_item:hover {
  color: #b77575;
}
.f-tabs--error .f-tab_item--active {
  border-top-color: #b77575;
  color: #b77575;
}
.f-tabs--error .f-tab_item--active:hover {
  color: #3f4244;
}
.f-nav--info .f-nav_item:hover {
  color: #a49ebf;
}
.f-nav--info .f-nav_item--active {
  border-bottom-color: #a49ebf;
  color: #a49ebf;
}
.f-nav--info .f-nav_item--active:hover {
  color: #3f4244;
}
.f-tabs--info .f-tab_item:hover {
  color: #a49ebf;
}
.f-tabs--info .f-tab_item--active {
  border-top-color: #a49ebf;
  color: #a49ebf;
}
.f-tabs--info .f-tab_item--active:hover {
  color: #3f4244;
}
