.title
  &_primary
    font-size: 3em
    margin-bottom: .3em
    line-height: 1.2em
  &_secondary
    font-size: 1.4em
    opacity: .4
    font-weight: 500
    text-transform: lowercase
    letter-spacing: 2px
    margin-bottom: 2.3em

.text
  &_block
    font-size: 1em
    line-height: 1.4em
    opacity: .8
    letter-spacing: 1.2px
    margin-top: 1em
    margin-bottom: 1em
  &_blockquote
    padding: 10px 0 10px 20px
    font-style: italic
    opacity: .6
    display: block
    border-left: 2px solid #bbb
    margin: 10px 0
    font-size: 16px


