color_black = #131316
color_white = #ffffff
color_blue = #00e1ff
color_sea = #62767f
color_gray-text = #3f4244
color_gray-text-light = #929ba0
color_gray-light = #c8cdce
color_light-bg = #f7f7f7
color_timeline = #c3d0d8

header_height = 100px
header_height--fixed = 50px
header_height--tablet = 60px

width_lg = 1200px
width_md = 992px
width_sm = 768px
width_xs = 460px

width-content_lg = 1170px
width-content_md = 970px
width-content_sm = 750px
