color_black = #131316
color_white = #ffffff
color_blue = #00e1ff
color_sea = #62767f
color_gray-text = #3f4244
color_gray-text-light = #929ba0
color_gray-light = #c8cdce
color_light-bg = #f7f7f7
color_timeline = #c3d0d8

btn-color_default = #6D9DC5
btn-color_warning = #F6BD60
btn-color_success = #97D68B
btn-color_error = #B77575
btn-color_info = #A49EBF

grid-color_1 = #C2F59A
grid-color_2 = #F5F991
grid-color_3 = #DDCEA1
grid-color_4 = #EECFD4
grid-color_5 = #C4B7CB
grid-color_6 = #88CCC3
grid-color_7 = #A9BAD8
grid-color_8 = #7DA2C1
grid-color_9 = #FCECC9
grid-color_10 = #FCB0B3

header_height = 100px
header_height--fixed = 50px
header_height--tablet = 60px

width_lg = 1200px
width_md = 992px
width_sm = 768px
width_xs = 460px

width-content_lg = 1170px
width-content_md = 970px
width-content_sm = 750px
